<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
        body{
            background-color: aqua;
        }
        nav{
            display: flex;
            gap: 50px;
            height: 80px;
            width: 100%;
            background-color: black;
            color: white;
            list-style: none;
            justify-content: center;
            align-items: center;

        }
    </style>
     <nav>
        <li style="margin-left: 10%;">My Blogs</li>
        <li>Home</li>
        <li>About</li>
        <li>Search</li>
        <li><button>sign in</button></li>
    </nav> <br><br><br>
    <center><p>{{data1.discription}}</p></center>
</body>
</html>